<p-toolbar>
  <div class="ui-toolbar-group-left">
    <h3>jw-programer e-mail sender</h3>
  </div>
</p-toolbar>
<div class="main" p-grid>
  <span class="ui-float-label form-input">
    <input type="email" pInputText name="" id="recipient"/>
    <label for="recipient">E-mail Destinário</label>
  </span>
  <span class="ui-float-label form-input">
    <input type="text" pInputText name="" id="sender"/>
    <label for="sender">Remetente</label>
  </span>
  <span class="ui-float-label form-input">
    <input type="text" pInputText name="subject"/>
    <label for="subject">Assunto</label>
  </span>
</div>